@use "./reset";
@use "./base";
@use "./component";

// Header
.header {
    padding: 30px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__group {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    &__time-open {
        color: rgba(255, 255, 255, 0.8);
    }

    &__reservation {
        color: #fff;
        text-decoration: underline;
    }
}
// End Header

// MAIN
// Hero
.hero {
    margin-top: 40px;

    &__inner {
        display: flex;
        gap: 30px;
    }

    &__sub-heading {
        color: rgba(255, 255, 255, 0.8);
    }

    &__heading {
        max-width: 670px;
        margin-top: 10px;
    }

    &__desc {
        max-width: 532px;
        margin: 20px 0 40px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__menu {
        display: inline-block;
        color: #fb8f2c;

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #fb8f2c;
        }
    }

    &__img-wrap {
        position: relative;
    }

    &__img {
        width: 370px;
        height: 436px;
        object-fit: cover;
    }

    &__price {
        position: absolute;
        bottom: 66px;
        right: 264px;
        padding: 12px 16px 8px 16px;
        background: #fb8f2c;
        color: #fff;
        font-family: "Libre Bodoni";
        font-size: 24px;
        font-weight: 500;
        line-height: 141.667%;
    }

    &__decor {
        position: absolute;
        right: -80px;
        top: 69px;
        width: 80px;
        height: 83px;
        object-fit: cover;

        &:nth-of-type(2) {
            right: -100px;
            top: 179px;
        }

        &:nth-of-type(3) {
            top: 288px;
        }
    }
}
// End Hero

// Info
.info {
    padding: 63px 0;
    margin-top: 96px;
    background: url("../imgs/info.png") no-repeat center / cover;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 127px;
    }

    &__item {
        display: flex;
        gap: 19px;
    }

    &__number {
        color: #fff;
        font-family: "Libre Bodoni";
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 115.625%;
    }

    &__text {
        max-width: 148px;
        color: #fff;
        font-family: "Libre Bodoni";
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 141.667%;
    }
}
// End Info

// Popular Food
.popular-food {
    margin-top: 187px;

    &__heading,
    &__desc {
        text-align: center;
    }

    &__desc {
        width: 601px;
        margin: 20px auto 60px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.food-item {
    &__img-wrap {
        display: block;
        width: 370px;
        height: 300px;
        overflow: hidden;
        margin-bottom: 16px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: scale 0.5s;

        &:hover {
            scale: 1.2;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name,
    &__price {
        color: #fff;
        font-family: "Libre Bodoni";
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 141.667%;
    }

    &__desc {
        margin: 6px 0 16px;
        color: rgba(255, 255, 255, 0.8);
    }

    &__order {
        position: relative;
        color: #fff;
    }

    &__order::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        content: "";
        display: block;
        height: 1px;
        background: #fb8f2c;
    }

    &__stars {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
// End Popular Food
// END MAIN
