@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-Italic.woff2") format("woff2"),
        url("LibreBodoni-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-Medium.woff2") format("woff2"),
        url("LibreBodoni-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-MediumItalic.woff2") format("woff2"),
        url("LibreBodoni-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-BoldItalic.woff2") format("woff2"),
        url("LibreBodoni-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-Bold.woff2") format("woff2"),
        url("LibreBodoni-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-SemiBold.woff2") format("woff2"),
        url("LibreBodoni-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-SemiBoldItalic.woff2") format("woff2"),
        url("LibreBodoni-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("LibreBodoni-Regular.woff2") format("woff2"),
        url("LibreBodoni-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-ExtraBold.woff2") format("woff2"),
        url("PlusJakartaSans-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-BoldItalic.woff2") format("woff2"),
        url("PlusJakartaSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-Bold.woff2") format("woff2"),
        url("PlusJakartaSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-ExtraBoldItalic.woff2") format("woff2"),
        url("PlusJakartaSans-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-Light.woff2") format("woff2"),
        url("PlusJakartaSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-LightItalic.woff2") format("woff2"),
        url("PlusJakartaSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-Italic.woff2") format("woff2"),
        url("PlusJakartaSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-ExtraLightItalic.woff2") format("woff2"),
        url("PlusJakartaSans-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-ExtraLight.woff2") format("woff2"),
        url("PlusJakartaSans-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-MediumItalic.woff2") format("woff2"),
        url("PlusJakartaSans-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-Regular.woff2") format("woff2"),
        url("PlusJakartaSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-Medium.woff2") format("woff2"),
        url("PlusJakartaSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-SemiBoldItalic.woff2") format("woff2"),
        url("PlusJakartaSans-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("PlusJakartaSans-SemiBold.woff2") format("woff2"),
        url("PlusJakartaSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Playball */
@font-face {
    font-family: "Playball";
    src: url("Playball-Regular.woff2") format("woff2"),
        url("Playball-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Butler*/
@font-face {
    font-family: "Butler";
    src: url("Butler-Black.woff2") format("woff2"),
        url("Butler-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Butler";
    src: url("Butler-ExtraBold.woff2") format("woff2"),
        url("Butler-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Butler";
    src: url("Butler-Light.woff2") format("woff2"),
        url("Butler-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Butler";
    src: url("Butler-Medium.woff2") format("woff2"),
        url("Butler-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Butler";
    src: url("Butler-Bold.woff2") format("woff2"),
        url("Butler-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Butler";
    src: url("Butler-UltraLight.woff2") format("woff2"),
        url("Butler-UltraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Butler";
    src: url("Butler.woff2") format("woff2"), url("Butler.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
