@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth; /*cuộn mượt mà*/
  text-rendering: optimizeSpeed;
  background: #111114;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.info {
  width: 100%;
}

.heading {
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 115.625%;
}

.text {
  font-size: 1.6rem;
  line-height: 162.5%;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  padding: 5px 17px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  line-height: 162.5%;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #fb8f2c;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 33px;
  display: none;
  padding-top: 65px;
}
.menu__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: left right;
  gap: 30px;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item:hover {
  cursor: pointer;
}
.menu__item:hover .menu__title, .menu__item:hover .menu__price {
  color: #fb8f2c;
}
.menu__item + .menu__item {
  margin-top: 40px;
}
.menu__img {
  width: 76px;
  height: 76px;
  object-fit: cover;
  border-radius: 50%;
}
.menu__title, .menu__price {
  width: 302px;
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 3rem;
  font-weight: 500;
  line-height: 133.333%;
}
.menu__title {
  margin: 0 auto 0 20px;
}
.menu__title--small {
  width: 400px;
}
.menu__price {
  width: initial;
}

.header {
  padding: 30px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__group {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header__time-open {
  color: rgba(255, 255, 255, 0.8);
}
.header__reservation {
  color: #fff;
  text-decoration: underline;
}

.hero {
  margin-top: 40px;
}
.hero__inner {
  display: flex;
  gap: 30px;
}
.hero__sub-heading {
  color: rgba(255, 255, 255, 0.8);
}
.hero__heading {
  max-width: 670px;
  margin-top: 10px;
}
.hero__desc {
  max-width: 532px;
  margin: 20px 0 40px;
  color: rgba(255, 255, 255, 0.8);
}
.hero__menu {
  display: inline-block;
  color: #fb8f2c;
}
.hero__menu::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #fb8f2c;
}
.hero__img-wrap {
  position: relative;
}
.hero__img {
  width: 370px;
  height: 436px;
  object-fit: cover;
}
.hero__price {
  position: absolute;
  bottom: 66px;
  right: 264px;
  padding: 12px 16px 8px 16px;
  background: #fb8f2c;
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 24px;
  font-weight: 500;
  line-height: 141.667%;
}
.hero__decor {
  position: absolute;
  right: -80px;
  top: 69px;
  width: 80px;
  height: 83px;
  object-fit: cover;
}
.hero__decor:nth-of-type(2) {
  right: -100px;
  top: 179px;
}
.hero__decor:nth-of-type(3) {
  top: 288px;
}

.star {
  padding: 63px 0;
  margin-top: 96px;
  background: url("../imgs/star.png") no-repeat center/cover;
}
.star__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 127px;
}
.star__item {
  display: flex;
  gap: 19px;
}
.star__number {
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 115.625%;
}
.star__text {
  max-width: 148px;
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 141.667%;
}

.popular-food {
  margin-top: 187px;
}
.popular-food__heading, .popular-food__desc {
  text-align: center;
}
.popular-food__desc {
  width: 601px;
  margin: 20px auto 60px;
  color: rgba(255, 255, 255, 0.8);
}
.popular-food__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 36px;
}
.popular-food__see-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  color: #fb8f2c;
}

.food-item__img-wrap {
  display: block;
  width: 370px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 16px;
}
.food-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s;
}
.food-item__img:hover {
  scale: 1.2;
}
.food-item__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food-item__name, .food-item__price {
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 141.667%;
}
.food-item__desc {
  margin: 6px 0 16px;
  color: rgba(255, 255, 255, 0.8);
}
.food-item__order {
  position: relative;
  color: #fff;
}
.food-item__order::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  content: "";
  display: block;
  height: 1px;
  background: #fb8f2c;
}
.food-item__stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.info {
  margin-top: 150px;
}
.info__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -1px;
  background: url("../imgs/info.png") no-repeat center/cover, linear-gradient(269deg, rgba(0, 0, 0, 0.2) 21.08%, rgba(0, 0, 0, 0) 38.98%);
  border: 1px solid #fbf8fc;
}
.info__title {
  margin-bottom: 10px;
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 141.667%;
}
.info__address, .info__number, .info__email {
  color: #fff;
}
.info__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 73px 144px;
  background: #fb8f2c;
}
.info__open {
  color: #111114;
}
.info__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 296px;
}
.info__row + .info__row {
  margin-top: 10px;
}

.out-menu {
  margin-top: 150px;
}
.out-menu__sub-title {
  color: var(--white-80, rgba(255, 255, 255, 0.8));
  text-align: center;
}
.out-menu__heading {
  margin: 10px 0 20px;
  text-align: center;
}
.out-menu__desc {
  width: 601px;
  margin: 0 auto 60px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.out-menu__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.out-menu__item:hover .menu {
  display: grid;
}
.out-menu__item--active .menu {
  display: grid;
}
.out-menu__link {
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 3rem;
  font-weight: 500;
  line-height: 133.333%;
  padding: 0 30px;
}
.out-menu__link:hover {
  color: #fb8f2c;
}

.our-restaurant {
  margin-top: 600px;
  text-align: center;
}
.our-restaurant__desc {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.8);
}
.our-restaurant__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 600px;
  margin-top: 60px;
}
.our-restaurant__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  height: 100%;
}
.our-restaurant__img-wrap {
  height: 285px;
}
.our-restaurant__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-now {
  margin-top: 150px;
}
.book-now__inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.book-now__left {
  padding: 40px;
  background: #fb8f2c;
}
.book-now__heading {
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: 500;
  line-height: 125%;
}
.book-now__title {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 141.667%;
}
.book-now__content {
  color: #111114;
}
.book-now__content-wrap {
  display: flex;
  gap: 99px;
}
.book-now__row {
  display: flex;
  gap: 3px;
}
.book-now__number {
  font-size: 4rem;
  font-weight: 500;
  line-height: 125%;
}
.book-now__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 4px;
}
.book-now__text {
  font-size: 14px;
  line-height: 171.429%;
}
.book-now__arrow {
  align-self: center;
  width: 10px;
  height: 5px;
  object-fit: cover;
}
.book-now__row-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 14px;
}
.book-now__btn {
  width: 311px;
  height: 56px;
  margin-top: 74px;
  color: #fff;
  background: #111114;
  text-align: center;
}
.book-now__btn:hover {
  color: #fb8f2c;
}
.book-now__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.book-now__decor {
  position: absolute;
  right: -70px;
  top: -70px;
  width: 99px;
}

.our-daily {
  margin-top: 150px;
}
.our-daily__heading {
  text-align: center;
  margin-bottom: 52px;
}
.our-daily__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.our-daily__left {
  padding: 23px 30px;
  background: url(../imgs/our-daily.png) no-repeat center/cover;
}
.our-daily__left-inner {
  width: 510px;
  padding: 72px 0 40px 41px;
  border: 1px solid #fbf8fc;
}
.our-daily__left-time {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 135.714%;
}
.our-daily__left-row {
  display: flex;
  align-items: end;
  gap: 6px;
  margin: 8px 0 14px 0;
}
.our-daily__sale {
  font-family: Playball;
  color: #fb8f2c;
  font-size: 8.4rem;
  line-height: 97.619%;
}
.our-daily__off {
  margin-bottom: 5px;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%;
}
.our-daily__text {
  max-width: 254px;
  color: #fff;
}
.our-daily__btn {
  margin-top: 48px;
  padding: 8px 30px;
  background: rgba(251, 143, 44, 0.8);
  color: #fff;
  font-weight: 600;
}
.our-daily__btn:hover {
  color: rgba(255, 255, 255, 0.8);
}
.our-daily__right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 36px;
}
.our-daily__item {
  display: flex;
}
.our-daily__img {
  width: 130px;
  height: 100%;
  object-fit: cover;
}
.our-daily__col {
  margin: 0 34px 0 28px;
}
.our-daily__title {
  margin-top: 11px;
  font-family: "Libre Bodoni";
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 141.667%;
}
.our-daily__desc {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.our-daily__price {
  margin-top: 8px;
  color: #fff;
  font-family: "Libre Bodoni";
  font-size: 3rem;
  font-weight: 500;
  line-height: 133.333%;
}

.our-service {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
  margin-top: 150px;
  background: #fb8f2c;
}
.our-service__item {
  display: flex;
  align-items: center;
  gap: 18px;
}
.our-service__text {
  white-space: nowrap;
  color: #111114;
  font-family: Butler;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 110.526%;
}

.visit {
  margin-top: 150px;
}
.visit__text {
  margin: 16px auto 40px auto;
  max-width: 768px;
}
.visit__list {
  display: flex;
  gap: 30px;
}
.visit__item {
  color: #fff;
}
.visit__img-wrap {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  overflow: hidden;
}
.visit__img {
  width: 100%;
  transition: scale 0.5s;
}
.visit__img:hover {
  scale: 1.1;
  cursor: pointer;
}
.visit__name {
  margin-top: 30px;
  font-family: "Libre Bodoni";
  font-size: 3rem;
  font-weight: 500;
  line-height: 133.333%;
}
.visit__desc {
  font-family: "Plus Jakarta Sans";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 155.556%;
}

/*# sourceMappingURL=mai.css.map */
